#wrapper{
  background-color: #F5F5F5;
}

#board_out{
  padding: 20px;
  border-radius: 15px;
  width: 420px;
  position: relative;
  margin: auto;
  top: 36px;
  border: 1px solid black;
  background-color: white;
}

#board_container{
  width: 415px;
  height: 410px;
  position: relative;  
}

#board{
  text-align: left;
  position: absolute;
  margin: auto;
  width: 380px;
  height: 380px;
  border: none;
  top: 22px;
  left: 20px;
}

#board_container #characters_top{
  height: 22px;
  top: 0px;
  position: absolute;
  width: 376px;
  margin-left: 10px;
  left: 10px;
}

#board_container #numbers_left{
  left: 0px;
  position: absolute;
  height: 376px;
  top: 22px;
}

#board_container #characters_top .char{
  width: 47px;
  border: none;
  height: 20px;
  display: inline;
  float: left;
  text-align: center;
}

#board_container #numbers_left .num{
  height: 30px;
  width: 20px;
  text-align: center;
  padding-top: 17px;
}

.cell{
  position: absolute;
  width: 45px;
  height: 45px;
}

.black_cell{
  background-color: #D18B47;
  border: 1px solid #D18B47;
}

.white_cell{
  background-color: #FFDAB8;
  border: 1px solid #FFDAB8;
}

.piece{
  position: absolute;
  border: 1px solid transparent;
  width: 47px;
  height: 47px;
}

.cell.last_moved{
  border: 1px solid blue !important;
}

.cell.last_moved_from{
  border: 1px solid blue !important;
}

.piece.hoverable:hover{
  border: 1px solid #111111;
  background-color: #454545;
}

#players_panel{
  width: 600px;
  margin: auto;
  margin-top: 55px;
  border: 1px solid black;
  text-align: center;
}

#players_panel .t{
  border-bottom: 1px solid black;
  background-color: black;
  color: white;
  padding: 3px;
}

#players_panel .player_name{
  height: 40px;
  line-height: 40px;
}

#players_panel .player_name a{
  color: blue;
}

.player_info{
  background-color: #EEE;
  height: 100%;
  width: 299px;
  float: left;
}

#black_panel{
  background-color: #DDD;
  color: black;
  border-left: 1px dotted black;
}

#board_left{
  width: 650px;
  float: left;
  border-right: 1px dotted #555;
  padding-bottom: 50px
}

#board_right{
  width: 309px;
  height: 100px;
  float: left;
  background-color: #EFEFEF;
  padding-bottom: 25px;
  padding-top: 25px;
  border-bottom-right-radius: 20px;
}

#board_right .right_box{
  border: 1px solid black;
  margin: 5px;
  border-radius: 5px;
  background-color: white;
  margin-bottom: 10px;

border: 1px solid black;
background-image: -moz-linear-gradient(top, #fcfcfc, #f7f7f7 3%, #f2f2f2 12%, #d9d9d9 90%, #bfbfbf);
background-image: -webkit-gradient(linear, center top, center bottom, from(#fcfcfc), to(#bfbfbf), color-stop(3%, #f7f7f7), color-stop(12%, #f2f2f2), color-stop(90%, #d9d9d9));
box-shadow: 0 1px 5px rgba(0,0,0,0.75);


}

.right_box .right_box_body{
  padding-bottom: 5px;
  padding-left: 5px;
  min-height: 30px;
}

#board_right .right_box .title{
  color: white;
  text-align: center;
  background-color: #56512F;
  padding: 2px;
  cursor: pointer;
}

#board_right .right_box .title:hover{
  background-color: #918114;
  color: white;
}

#chat_list{
  height: 150px;
  max-height: 150px;
  overflow: auto;
  padding: 4px 3px;
}

#chat_line{
  width: 220px;
  font-size: 14px;
  padding: 2px 3px;
  border: 1px solid black;
}

#chat_list .chat_line{
  margin: 1px 3px;
  font-size: 14px;
  padding: 2px 4px;
}

#moves_list{
  overflow: auto;
  max-height: 150px;
  text-align: center;
  padding-top: 5px;
}

.move_list_element{
  width: 43%;
  padding: 3px;
  margin: 2px;
  float: left;
  border: 1px solid #444;
  text-align: center;
  font-size: 14px;
}

#send_chat{
  border-radius: 3px;
  background-color: green;
  color: white;
  padding: 2px 8px;
  font-size: 14px;
}

.replace_box{
  width: 400px;
  height: 240px;
  margin-left: 19%;
  position: fixed;
  border: 1px solid blue;
  top: 100px;
  text-align: center;
  z-index: 100;
  background-color: #EFEFEF;
}

.replace_box .replace_piece img{
  margin: 10px;
  border: 1px solid black;
}

.replace_box .replace_piece img:hover{
  background-color: #777;
}

#connecting_msg{
  width: 100%;
  text-align: center;
}

#timer{
  margin: 3px 5px;
  padding: 3px;
  text-align: center;
}

#timer_body{
  min-height: 40px;
  padding-top: 3px;
}

#timer #minutes, #timer #seconds{
  width: 70px;
  border: 1px solid black;
  border-radius: 4px;
  font-size: 20px;
  text-align: center;
  float: left;
  font-weight: bold;
}

#timer #minutes{
  margin-left: 58px;
  margin-right: 5px;
  background-color: #247528;
  color: white;
}

#timer #seconds{
  background-color: #7B6E08;
  color: white;
}
