.title{
  margin-top: 40px;
  text-align: center;
  font-size: 50px;
  color: #222;
  font-family: 'Architects Daughter', arial, serif;
}

.menu{
  text-align: center;
  color: #777;
}

.menu a{
  color: #1F2263;
  font-family: 'Architects Daughter', arial, serif;
  font-size: 18px;
}

table.games{
  width: 60%;
  margin: auto;
  margin-bottom: 30px;
  border: 1px solid #777;
  border-radius: 5px;
}

table.games a{
  color: blue;
}

table.games tr th{
  text-align: center;
  background-color: orange;
  padding: 2px;
}

table.games tr td{
  border: 1px solid #666;
  text-align: center; 
  padding: 2px;
}

h2.table_title{
  width: 60%;
  margin: auto;
  margin-top: 30px;
  margin-bottom: 4px;
  font-family: 'Architects Daughter', arial, serif;
}

.no_games{
  width: 60%;
  color: orange;
  text-align: left;
  margin: auto;
  padding-left: 30px;
}

