html {overflow-y: scroll;}

* {
  margin: 0;
  padding: 0;
  font-family: 'Istok Web', sans-serif;
}

a{

}

#top_msg_container{
  height: 28px
}

#top_msg_container p{
  text-align: center;
  padding: 3px;
  background-color: #D5BB11;
  padding-top: 3px;
  font-weight: 400;
  font-size: 16px;
}

body{
  background-image: url('/images/back.png');
  background-repeat: repeat-x;
  background-color: #342F2F;
}

.clearer{
  clear: both;
}

#wrapper{
  width: 1050px;
  margin: 0 auto;
  margin-bottom: 30px;
}

#logo{
  float: left;
  margin-top: 5px;
  margin-left: 30px;
  font-size: 34px;
  color: white;
  width: 350px;
}

#logo p{
  font-size: 40px;
  font-family: 'Voltaire', sans-serif;
  margin-top: 14px;
}

#logo img{
  height: 63px;
  float: left;
}

#header{
  height: 68px;
}

#header a{
  text-decoration: none;
}

#wrapper_body{
  background-color: white;
  width: 100%;
  border: 1px solid #999;
  border-radius: 3px;
  border-top: 2px solid #D5BB11;
  padding-bottom: 25px;
}

#top-header-links{
  position: absolute;
  margin-left: 290px;
  min-width: 765px;
}

#top-links{
  float: right;
  margin: 2px 8px 0 0;
}

.middle{
  margin: 0 auto;
  margin-top: 40px;
}

.middle h2{
  font-size: 16px;
  background-color: #F8E122;
  font-weight: 300;
  padding: 3px 12px;
  border-radius: 7px;
  color: #111;
  margin-bottom: 4px;
}

.content_paragraph{
  margin: 4px;
}

#logo:hover p{
  color: yellow;
text-shadow: 0px 0px 19px #ffffff;
filter: dropshadow(color=#ffffff, offx=5, offy=5); 
}

#top-links a{
  font: inherit;
  font-size: 13px;
  color: white;
}

#nav-links{
  position: absolute;
  right: 10px;
  top: 42px;
  vertical-align: middle;
  height: 30px;
}

#nav-links a{
  text-transform: uppercase;
  margin-left: 23px;
  color: #DDD;
  padding: 4px 6px;
}

#nav-links a.rating{
  background-color: red;
  color: white;
  font-weight: bold;
  margin-left: 4px;
  font-size: 16px;
  padding: 2px 16px;
}

#nav-links a.user_link{
  margin-right: 4px;
  font-weight: bold;
}

.sep{
  border-left: 1px solid #6B3939;
  border-right: 1px solid #E9EFDD;
  display: inline-block;
  height: 12px;
  vertical-align: middle;
  margin: 0 8px;
}

.player_info_line{
  border: 1px solid #AEAEAE;
  background-color: #DCDCDC;
  color: #444;
  padding: 5px 12px;
  border-radius: 8px;
  margin-bottom: 8px;
  margin-top: 7px;
}

.player_info_line .player_name{
  width: 160px;
  float: left;
  color: black;
  font-weight: bold;
}
