html {overflow-y: scroll;} 

*{
  padding: 0;
  margin: 0;
  font-family: arial;
}

.hidden{
  display: none;
}

body{
  background-color: #999;
  background-image: url('/images/back.jpg');
  background-attachment: fixed;
}

a{
  text-decoration: none;
  color: black;
}

ul{
  list-style: none;
}

.clearer{
  clear: both;
}

#wrapper{
  width: 960px;
  margin: auto;
  margin-top: 10px;
  border: 1px solid black;
  min-height: 500px;
  background-color: white;
  border-bottom-right-radius: 20px;
  border-bottom-left-radius: 20px;
}

.about{
  text-align: right;
  padding: 10px;
  margin-top: 30px;
  font-family: 'Kreon', arial, serif;
  background-color: #EFEFEF;
}

.about a{
  color: blue;
  font-family: 'Kreon', arial, serif;
}

#top_menu{
  height: 28px;
  background-color: #56512F;
  padding-left: 10px;
}

#top_menu a{
  width: 40px;
  line-height: 28px;
  padding: 2px 14px;
  color: white;
  font-size: 16px;
  border-right: 1px solid white;
  text-align: center;
}

#top_menu a:hover{
  background-color: #444;
}

.flash_line{
  height: 30px;
  margin-top: 5px;
  position: absolute;
  width: 955px;
}

.flash_notice{
  width: 300px;
  margin: auto;
  text-align: center;
  border-radius: 5px;
  line-height: 25px;
  border: 1px solid #A89018;
  background-color: #FFDB26;
}
