* {
  margin: 0;
  padding: 0;
  font-family: 'Istok Web', sans-serif;
}

a{
  
}

body{
  background-image: url('/images/back.png');
  background-repeat: repeat-x;
}

#wrapper{
  width: 1050px;
  margin: 0 auto;
}

#logo{
  float: left;
  margin-top: 17px;
  margin-left: 30px;
  font-size: 34px;
  color: #642020;
}

#logo a{
  text-decoration: none;
  color: inherit;
}

#header{
  height: 75px;
}

#header a{
  text-decoration: none;
}

#wrapper_body{
  background-color: white;
  width: 100%;
  border: 1px solid #CA2E2E;
  min-height: 400px;
}

#top-header-links{
  position: absolute;
  margin-left: 290px;
  min-width: 765px;
}

#top-links{
  float: right;
  margin: 8px 8px 0 0;
}

#top-links a{
  font: inherit;
  font-size: 13px;
  color: #370F0F;
}

#nav-links{
  position: absolute;
  right: 10px;
  top: 45px;
  vertical-align: middle;
}

#nav-links a{
  text-transform: uppercase;
  margin-left: 23px;
  color: black;
}

.sep{
  border-left: 1px solid #6B3939;
  border-right: 1px solid #E9EFDD;
  display: inline-block;
  height: 20px;
  vertical-align: middle;
  margin: 0 8px;
}
