#homepage{
}


#homepage_top{
  height: 296px;
  background: url('/images/homepage_bg.png');
}

#homepage_bottom{
  min-height: 200px;
  background-color: #AAA;
  border-top: 2px black solid;
}

#homepage-image{
  margin-top: 20px;
  position: absolute;
  margin-left: 20px;
}

#homepage-image img{
  width: 80%;
}

#homepage-text{
  margin-left: 58%;
  width: 390px;
}

#homepage-text .title{
  font-size: 18px;
  padding-top: 18px;
  margin-bottom: 9px;
  color: #111111;
  line-height: 24px;
  font-size: 25px;
  vertical-align: baseline;
  margin-top: 2px;
}

#homepage-text p{
  margin-bottom: 28px;
  font-size: 14px;
  color: #444444;
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  line-height: 24px;
}

#homepage-text .buttons a{
  width: 100%;
  display: block;
  font: inherit;
  font-size: 20px;
  padding: 10px 0 12px;
  margin-bottom: 15px;
  border-radius: 9px;
  text-decoration: none;
  cursor: pointer;
  text-align: center;
  border: 1px solid white;
}

#homepage-text .buttons a#play_now{
  background-color: #D5BB11;
  color: black;
  border: 1px dotted black;
  text-shadow: 0 -1px 0 white;
}

#homepage-text .buttons a#play_now:hover{
  background-color: #F1C75B;
}

#homepage-text .buttons a#play_now:active{
  border-color: black;
}

#homepage-text .buttons a#practice{
  background-color: #4055CC;
  color: white;
}

#homepage-text .buttons a#practice:hover{
}

#homepage-text .buttons a#practice:active{
  border-color: black;
}

#not_started_games{
  width: 475px;
  border: 1px solid gray;
  margin-left: 40px;
  min-height: 100px;
  margin-top: 40px;
  float: left;
}

#not_started_games h2{
  text-align: center;
  font-size: 16px;
  line-height: 35px;
  background-color: black;
  color: white;
}

#started_games{
  width: 475px;
  border: 1px solid gray;
  margin-left: 20px;
  min-height: 100px;
  margin-top: 40px;
  float: left;
}

#started_games h2{
  text-align: center;
  font-size: 16px;
  line-height: 35px;
  background-color: black;
  color: white;
}


.game_item{
  background-color: #D5BB11;
  margin-bottom: 3px;
  padding: 4px;
  cursor: pointer;
}

.game_item:hover{
  background-color: #E2DC2A;
}

.game_item div.info{
  display: inline;
  padding: 4px;
  float: left;
  text-align: center;
}

.game_item div.white_player{
  width: 130px;
}

.game_item div.black_player{
  width: 130px;
}
