.title
  ChessArabia
  
.menu
  [
  = link_to 'New Game', games_path, :method => "post"
  |
  = link_to 'Play Against Computer', play_with_computer_games_path, :method => "post"
  |
  = link_to 'Games Room', games_path
  ]
